.vs
/build
.cproject
.project
.settings
.dependencies
.DS_Store
/CMakeLists.txt.user
CMakeUserPresets.json
.ccls-cache
.cache/clangd
.idea
compile_commands.json
/.vscode/*.peripherals.state.json
/.vscode/*.registers.stat   e.json
Makefile
/doc/html/
__pycache__
.benchmarks
/doc/inline_umlgraph_cache_all.pu
.venv
*.egg-info/
*.egg
/heap_instrumentation.txt
/src/**/*.mo
/utils/crckill/target/
/RELEASE_NOTES_v6.5.3-RME.md
